# Pandas
## Series, DataFrames and indexing

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101',periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index = dates,columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369
2013-01-05 -1.006146  0.404128  1.140711  0.904812
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798

In [7]:
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20130102'),
                    'C':pd.Series(1,index = list(range(4)),dtype = 'float32'),
                    'D':np.array([3]*4,dtype = 'int32'),
                    'E':pd.Categorical(["test","train","test","train"]),
                    'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Understanding the data

In [12]:
df.head()

                   A         B         C         D
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369
2013-01-05 -1.006146  0.404128  1.140711  0.904812

In [13]:
df.tail(2)

                   A         B         C         D
2013-01-05 -1.006146  0.404128  1.140711  0.904812
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [16]:
df.values

array([[-0.0959524 , -0.25866752, -0.43175031,  2.60981294],
       [ 0.38264642,  0.32435762, -0.78698922,  0.82309686],
       [ 0.79048531,  0.36012104, -2.45016951,  0.26071191],
       [-0.56162221, -1.14356798, -1.85328559,  1.37236948],
       [-1.00614589,  0.40412825,  1.1407108 ,  0.90481238],
       [-0.89815441,  2.33087248, -0.07812281, -0.549798  ]])

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.231457  0.336207 -0.743268  0.903501
std    0.720207  1.142596  1.283464  1.064242
min   -1.006146 -1.143568 -2.450170 -0.549798
25%   -0.814021 -0.112911 -1.586711  0.401308
50%   -0.328787  0.342239 -0.609370  0.863955
75%    0.262997  0.393126 -0.166530  1.255480
max    0.790485  2.330872  1.140711  2.609813

In [18]:
df.describe

<bound method DataFrame.describe of                    A         B         C         D
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369
2013-01-05 -1.006146  0.404128  1.140711  0.904812
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798>

## Transposing a DataFrame

In [19]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.095952    0.382646    0.790485   -0.561622   -1.006146   -0.898154
B   -0.258668    0.324358    0.360121   -1.143568    0.404128    2.330872
C   -0.431750   -0.786989   -2.450170   -1.853286    1.140711   -0.078123
D    2.609813    0.823097    0.260712    1.372369    0.904812   -0.549798

## Sorting along different axis

In [26]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01  2.609813 -0.431750 -0.258668 -0.095952
2013-01-02  0.823097 -0.786989  0.324358  0.382646
2013-01-03  0.260712 -2.450170  0.360121  0.790485
2013-01-04  1.372369 -1.853286 -1.143568 -0.561622
2013-01-05  0.904812  1.140711  0.404128 -1.006146
2013-01-06 -0.549798 -0.078123  2.330872 -0.898154

In [28]:
df.sort(columns='B',ascending=True)

C:\Users\Avinav\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712
2013-01-05 -1.006146  0.404128  1.140711  0.904812
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798

## Subsetting and accessing data selectively

In [31]:
df['A']

2013-01-01   -0.095952
2013-01-02    0.382646
2013-01-03    0.790485
2013-01-04   -0.561622
2013-01-05   -1.006146
2013-01-06   -0.898154
Freq: D, Name: A, dtype: float64

In [32]:
df.A

2013-01-01   -0.095952
2013-01-02    0.382646
2013-01-03    0.790485
2013-01-04   -0.561622
2013-01-05   -1.006146
2013-01-06   -0.898154
Freq: D, Name: A, dtype: float64

In [33]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712

In [35]:
df.loc[dates[0]]

A   -0.095952
B   -0.258668
C   -0.431750
D    2.609813
Name: 2013-01-01 00:00:00, dtype: float64

In [36]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.095952 -0.258668
2013-01-02  0.382646  0.324358
2013-01-03  0.790485  0.360121
2013-01-04 -0.561622 -1.143568
2013-01-05 -1.006146  0.404128
2013-01-06 -0.898154  2.330872

In [37]:
df.at[dates[0],'A']

-0.095952399011969752

In [40]:
df

                   A         B         C         D
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369
2013-01-05 -1.006146  0.404128  1.140711  0.904812
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798

In [41]:
df.iloc[3]

A   -0.561622
B   -1.143568
C   -1.853286
D    1.372369
Name: 2013-01-04 00:00:00, dtype: float64

In [44]:
df.iloc[[0,1,2,3],0:4]

                   A         B         C         D
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369

In [48]:
df[df.A>0] #Using a boolean subsetting

                   A         B         C         D
2013-01-02  0.382646  0.324358 -0.786989  0.823097
2013-01-03  0.790485  0.360121 -2.450170  0.260712

In [50]:
s1 = pd.Series([1,2,3,4,5,6],index= pd.date_range('20130101',periods=6))

s1

In [51]:
s1

2013-01-01    1
2013-01-02    2
2013-01-03    3
2013-01-04    4
2013-01-05    5
2013-01-06    6
Freq: D, dtype: int64

In [52]:
df['F']=s1

In [53]:
df

                   A         B         C         D  F
2013-01-01 -0.095952 -0.258668 -0.431750  2.609813  1
2013-01-02  0.382646  0.324358 -0.786989  0.823097  2
2013-01-03  0.790485  0.360121 -2.450170  0.260712  3
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369  4
2013-01-05 -1.006146  0.404128  1.140711  0.904812  5
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798  6

In [54]:
df.at[dates[0],'A']=0

In [65]:
df

                   A         B         C         D  F   E
2013-01-01  1.000000 -0.258668 -0.431750  2.609813  1 NaN
2013-01-02  0.382646  0.324358 -0.786989  0.823097  2 NaN
2013-01-03  0.790485  0.360121 -2.450170  0.260712  3 NaN
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369  4 NaN
2013-01-05 -1.006146  0.404128  1.140711  0.904812  5 NaN
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798  6 NaN

In [56]:
df.iat[0,0]=1

In [64]:
df['E']=pd.Series()

In [74]:
df

                   A         B         C         D  F   E
2013-01-01  1.000000 -0.258668 -0.431750  2.609813  1 NaN
2013-01-02  0.382646  0.324358 -0.786989  0.823097  2 NaN
2013-01-03  0.790485  0.360121 -2.450170  0.260712  3 NaN
2013-01-04 -0.561622 -1.143568 -1.853286  1.372369  4 NaN
2013-01-05 -1.006146  0.404128  1.140711  0.904812  5 NaN
2013-01-06 -0.898154  2.330872 -0.078123 -0.549798  6 NaN

In [77]:
df = df.fillna(value=5)

In [78]:
pd.isnull(df)

                A      B      C      D      F      E
2013-01-01  False  False  False  False  False  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False  False
2013-01-04  False  False  False  False  False  False
2013-01-05  False  False  False  False  False  False
2013-01-06  False  False  False  False  False  False

## Cumulative functions- mean and median

In [79]:
df.mean()

A   -0.048798
B    0.336207
C   -0.743268
D    0.903501
F    3.500000
E    5.000000
dtype: float64

In [80]:
df.median()

A   -0.089488
B    0.342239
C   -0.609370
D    0.863955
F    3.500000
E    5.000000
dtype: float64

In [81]:
df.apply(np.cumsum)

                   A         B         C         D   F     E
2013-01-01  1.000000 -0.258668 -0.431750  2.609813   1   5.0
2013-01-02  1.382646  0.065690 -1.218740  3.432910   3  10.0
2013-01-03  2.173132  0.425811 -3.668909  3.693622   6  15.0
2013-01-04  1.611510 -0.717757 -5.522195  5.065991  10  20.0
2013-01-05  0.605364 -0.313629 -4.381484  5.970804  15  25.0
2013-01-06 -0.292791  2.017244 -4.459607  5.421006  21  30.0

STRING FUNCTIONS

In [84]:
s = pd.Series(["A","B","C","AAb","Baca",np.nan,"CABA",'dog','cat'])
s

0       A
1       B
2       C
3     AAb
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [85]:
s.str.lower()

0       a
1       b
2       c
3     aab
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [87]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -0.649192 -0.167441  0.552103 -0.505054
1 -0.350607 -0.504587  1.560611 -0.235006
2  0.820956  1.121541 -0.610642 -0.924447
3  1.014242  1.062959 -0.932707  0.829738
4  0.444735  0.800064  0.740088 -0.261800
5 -1.053726  0.249539  1.642187 -0.430605
6 -1.242272 -0.253710  0.790072  1.490172
7  1.035302  0.170695 -1.246292 -0.206686
8  0.562561  0.623200  0.002525 -0.579620
9 -1.203675  1.272588 -0.222526  0.022249

In [88]:
pieces = [df[:3],df[3:7],df[7:]]

In [89]:
pieces

[          0         1         2         3
 0 -0.649192 -0.167441  0.552103 -0.505054
 1 -0.350607 -0.504587  1.560611 -0.235006
 2  0.820956  1.121541 -0.610642 -0.924447,
           0         1         2         3
 3  1.014242  1.062959 -0.932707  0.829738
 4  0.444735  0.800064  0.740088 -0.261800
 5 -1.053726  0.249539  1.642187 -0.430605
 6 -1.242272 -0.253710  0.790072  1.490172,
           0         1         2         3
 7  1.035302  0.170695 -1.246292 -0.206686
 8  0.562561  0.623200  0.002525 -0.579620
 9 -1.203675  1.272588 -0.222526  0.022249]

In [90]:
pd.concat(pieces)

          0         1         2         3
0 -0.649192 -0.167441  0.552103 -0.505054
1 -0.350607 -0.504587  1.560611 -0.235006
2  0.820956  1.121541 -0.610642 -0.924447
3  1.014242  1.062959 -0.932707  0.829738
4  0.444735  0.800064  0.740088 -0.261800
5 -1.053726  0.249539  1.642187 -0.430605
6 -1.242272 -0.253710  0.790072  1.490172
7  1.035302  0.170695 -1.246292 -0.206686
8  0.562561  0.623200  0.002525 -0.579620
9 -1.203675  1.272588 -0.222526  0.022249

## Creating a stacked series with multiple levels and converting to DataFrame

In [3]:
data2 = pd.Series(np.random.random_integers(10), index = [['a','a','a','b','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,2,3]])

In [4]:
data2

a  1    8
   2    8
   3    8
b  1    8
   2    8
   3    8
c  1    8
   2    8
d  2    8
   3    8
dtype: int64

In [5]:
data2.index

MultiIndex(levels=[[u'a', u'b', u'c', u'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [6]:
data2['b']

1    8
2    8
3    8
dtype: int64

In [7]:
data2[:,1]

a    8
b    8
c    8
dtype: int64

In [10]:
data3 = data2.unstack()

In [18]:
data3.info

<bound method DataFrame.info of      1    2    3
a  8.0  8.0  8.0
b  8.0  8.0  8.0
c  8.0  8.0  NaN
d  NaN  8.0  8.0>